extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let jobid = toShow._id 
    - let job_title = toShow.job_title 
    - let pay = toShow.pay 
    - let isHourly = toShow.isHourly
    - let actionid = "/resource/jobs/" + jobid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='jobAttr mr-3') Job ID is: 
        div #{jobid} 
      div.row 
        div(class='jobAttr mr-3') Job Title is: 
        div #{job_title} 
      div.row 
        div(class='jobAttr mr-3') Job Pay is: 
        div #{pay} 
      div.row 
        div(class='jobAttr mr-3') Job is Hourly: 
        div #{ishourly} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the job collection 
      window.location.href='/job' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      // Dont need a body for the delete 

      fetch(actionid, { 
        method: 'DELETE'
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/job' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    } 